.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.display-flex {
  display: flex;
}

.font-weight-600 {
  font-weight: 600;
}
